.App {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  background-color: grey;
  background-image: "background-image.png";
  color: darkgray
}


@keyframes App-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
