.App {
  text-align: center;
  font-family: 'Permanent-Marker', cursive;
  background-color: grey;
  background-image: "background-image.png";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fb6163;
}

@keyframes App-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
